body {
	font-family: sans-serif;
	background: #384047;
}
h1 {
	color: #fff;
	text-align: center
}

ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul li img {
	display: block;
}
a {
	text-decoration: none;
}
/** Start Coding Here **/
#overlay{
	display: none;
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	text-align: center;
}

#overlay img{
	margin-top: 10%;
}

#overlay p{
	color: white;
}
